/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep

/storage/*
!/storage/.keep

/db/*.sqlite3
/db/*.sqlite3-*

/.bundle-home/
/.bundle-home-rbenv/
/compat-headers/

/.env
/.env.*
